* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.App {
  text-align: center;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  background-color: skyblue;
  padding: 50px;
  color: white;
}

.listItems {
  list-style: none;
  margin: 0 auto;
}

.homePage {
  margin-top: 60px;
}

.eachArticle {
  margin-top: 100px;
  display: inline-block;
  margin: 45px;
}

.container {
  margin-top: 40px;
}

.space {
  justify-content: space-between;
}

.articleInfo {
  margin: 7px;
}

.log {
  display: inline;
  margin-right: 150px;
}

.topLine {
  display: inline;
  margin-right: 27.5%;
  margin-left: 25%;
}


.articlesButton {
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.homeButton {
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.articlesTitle {
  display: inline;
}

.loading {
  margin-top: 40px;
}

.openArticle {
  margin-top: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  left: 41%;
}

.date {
  margin-bottom: 30px;
}

#topic_name {
  margin-top: 40px;
  margin-left: 10px;
  padding: 6px;
} 

.singleArticleTitle {
   padding-top: 35px;
   padding-bottom: 35px;
   padding-right: auto;
   margin-bottom: 40px;
   color: white;
   background-color: skyblue;
}


.author {
  margin-bottom: 20px;
  list-style: none;
  float: left;
  margin-left: 70px;
  margin-top: 10px;
  font-weight: bold;
}

.singleDate {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  margin-right: 50px;
  float: right;
  margin-bottom: 20px;
}

.body{
  list-style-type: none;
  text-align: center;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 110px;
  
}

.votes-comments {
  list-style: none;
  display: inline block;
}

.singleArticle{
  color: black;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-size: cover;
  padding-bottom: 50px;
  border-radius: 20px;
  width: 100%;
  height: 7000px;
  box-shadow: 0 1px 7px rgba(0,0,0,.2);
  min-width: 950px;
  border: 1px solid black;  
  margin-top: 100px;
  margin-bottom: 30px;
  max-width: 950px;
  background-color: white;
}

.comments{
  display: inline-block;
  margin-right: 50px;
}

.votes {
  display: inline-block;
  margin-left: 107px;
}


.time {
  margin-bottom: 10px;
}

.arrowImg {
  width: 15px;
  height: 19px;
  padding-top: 0px;
  margin-top: 0px; 
  cursor: pointer;
}

.arrow {
  margin-left: 10px;
  cursor: pointer;
}

.positionArrows{
  margin-top: 6px;
  margin-left: 192px;
}

.viewComments {
  margin-top: 35px;
}

.commentButton {
  padding: 5px;
  margin-bottom: 50px;
  float: right;
  margin-right: 75px;
  margin-top: 30px;
}

.commentList {
  list-style: none;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.styleList {
  margin-bottom: 50px;
  margin-top: 80px;
}

.commentDate {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 40px;
}

.loadingMessage {
  margin-top: 70px;
}

.addComment {
  padding: 5px;
  margin-left: 50px;
  margin-top: 30px;
}

.formTitle{
  margin-top: 70px;
  margin-bottom: 20px;
}

.formSubHeading {
  margin-right: 5px;
}

#username {
  margin-bottom: 20px;
  white-space: normal;
}

#body {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid black;
}

.submitButton {
  float: right;
  padding: 6px;
  margin-top: 4px;
}

.addCommentMessage {
  margin-top: 170px;
  text-align: center;
}

.dontRefresh {
  margin-top: 10px;
  text-align: center;
}

.sortBy {
  margin-top: 40px;
  padding: 3px;
  margin-right: 10px;
}

.orderBy {
  padding: 3.6px;
  margin-right: 10px ;
  margin-left: 0px;
}

.filterArticles {
  margin-top: 40px;
}

.filterOrderButton {
  padding: 4px;
  width: 125px;
}

.filterArticlesButton{
  display: inline;
  margin-left: 5%;
  padding: 4px;
}

.filterSortButton {
  padding: 4px;
  margin-right: 50px;
  width: 127px;
}

.commentsTitle{
  margin-top: 100px;
}

.articleIDHeading {
  text-decoration: none;
  position: absolute;
  
}

.articleOverviewID {
  display: inline-block;
  position: absolute;
  left: 10%;
  bottom: 30%;
}
.id {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.articleOverviewComments {
  display: inline-block;
  position: absolute;
  left: 18%;
  bottom: 25%;
}

.articleOverviewVotes {
  display: inline-block;
  position: absolute;
  left: 70%;
  bottom: 25%;
}

.loginTitle {
  margin-top: 60px;
  margin-bottom: 40px;
}

.avatar {
  margin-bottom: 20px;

}

.nav-button {
  position: relative;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 40px;
  min-width: 3.75vw;
  
}

.user {
  margin-top: 15px;
  text-decoration: none;
}

.avatar {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 10vw;
  height: 10vw;
}

.userLogins {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userLogins li {
  margin: 40px;
  text-decoration: none;
}

.userLogins li p {
  color: black;
}

a {
  text-decoration: none;
}

.loggedIn {
  display: inline;
  margin-right: 60%;
}

.deleteComment {
  padding: 2px;
}

.error{
  margin: 30px;
  font-weight: bold;
}

.errorMessage{
  margin-bottom: 60px;
}

.navBack {
  background-color: skyblue;
  
}

nav {
  margin-left: 0px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue ;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 0 0px 1px black;
  min-width: 320px;

}

/* Basic styles for nav links */
nav a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

/* Specific styles for non-active links */
.link {
  color: white;
}

/* Specific styles for active links */
.link-active {
  color: black;
  background: orange;
}

.posavatar{
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.pagination {
  list-style: none;
  display: inline-flex;
  text-align: center;
}

#log-out {
  padding: 9px;
  margin-top: 30px;
}

.button {
  padding: 9px;
  margin-right: 200px;  
}